# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Debug/BuildLog.htm
Debug/JS.dll.embed.manifest
Debug/StdAfx.obj
Debug/vc70.idb
Debug/vc70.pdb
Debug/vc90.idb
Debug/vc90.pdb
Release/BuildLog.htm
Release/JS.dll
Release/JS.exp
Release/JS.lib
Release/JS.pdb
Release/StdAfx.obj
Release/vc70.pdb
Release/vc70.idb
x64/Debug/BuildLog.htm
x64/Debug/JS.tlog/JS.lastbuildstate
x64/Debug/JS.log
x64/Debug/mt.dep
x64/Release/BuildLog.htm
x64/Release/JS.dll
x64/Release/JS.exp
x64/Release/JS.dll.intermediate.manifest
x64/Release/JS.lib
x64/Release/JS.obj
x64/Release/JS.pdb
x64/Release/StdAfx.obj
x64/Release/mt.dep
x64/Release/vc90.pdb
x64/Release/vc90.idb
