# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# My ignored files and folders
$tf
.svn
.vs
_SYNCAPP
_UpgradeReport_Files
AccountIsapi
Casino
ConfirmUser
Database
Debug
EmailMe
Emoji
Fax
FaxServer
ForceLogin
ForgotPassword
GoogleSite
HelloWorld
jwplayer
OnlineTV
packages
Release
RemoteAccess
RemoteControl
RemoteControlDispatcher
Root
RTMP
rus
RussianBilling
Scoreboard
ShowRequest
smscoin Для выполнения нужно скопировать в wwwroot папку
ckeditor guthub
ckeditor Standard Package
SignalRChat debug
*.sql
Chat.edmx
ChatHub.cs
SMSTranslator
tivenes
TVchannelCopyTable
TVchannelFileAndStreamer
TVChannels
VCUE
WebDatabaseService
WebSiteLib
WhoIs
x64
WebFeatures.opensdf
Chat/bin/Chat.dll
Chat/bin/Chat.dll
Chat/bin/Chat.dll
*.dll
SignalRChat/SignalRChat/bin/SignalRChat.dll
SignalRChat/SignalRChat/bin/SignalRChat.dll
SignalRChat/SignalRChat/bin/SignalRChat.dll
SignalRChat/SignalRChat/bin/SignalRChat.dll
WebFeatures.sdf